http://dl-cdn.alpinelinux.org/alpine/v{{ major_version }}/main
http://dl-cdn.alpinelinux.org/alpine/v{{ major_version }}/community
http://dl-cdn.alpinelinux.org/alpine/edge/main
http://dl-cdn.alpinelinux.org/alpine/edge/community
